.container-fluid{
  margin: 70px 0;
}
.answer{
  background: #FAFAFA;
  border: 2px solid #D9E6EB;
  border-radius: 23px;
  font-size: 28px;
  font-weight: 500;
  color: #496472;
  text-align: center;
  vertical-align: middle;
  line-height: 164px; 
  /* padding: 39px; */
  margin: 10px 10px;
  width: 100%;
  height: 164px;
}

.answer-correct{
  color: #33C933;
  border: 4px solid #33C933;
}

.answer-incorrect{
  color: #FB4343;
  border: 4px solid #FB4343;
}

.btn-ok-enabled{
  background: #F68034;
}

.btn-ok-disabled{
  background: #F0F0F0;
}
.btn-ok{
  border-radius: 100px;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  margin: 30px 0;
}

.answer:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.btn-ok:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.selected  {
  border: 4px solid #0D7BAB;
  color:#0D7BAB;
}
input {
  visibility:hidden;
}

.q-number{
  font-size: 32px;
  color: #0D7BAB;
  letter-spacing: 0;
}

.dot{
  margin:7px 7px;
}
.dot-answered {
  color: #0D7BAB;
}

.dot-not-answered {
  color: #C9CFD3;
}
